{% extends "layout.html" %}
{% block content %}

<script>

$(document).ready(function() {
  console.log("Document ready");
});

function resetSystem() {
  disableStep(1);
  disableStep(2);
  disableStep(3);
  changeMainDisplay();
  changeThumbnailDisplay();
};

function changeMainDisplay(newImgPath="") {
  var elementId = "main_display";
  var defaultSrc = "{{ url_for('frame_streamer') }}";
  _changeElementSource(elementId, defaultSrc, newImgPath)
};

function changeThumbnailDisplay(newImgPath="") {
  var elementId = "thumbnail";
  var defaultSrc = "/static/images/frontend/thumbnail.png";
  _changeElementSource(elementId, defaultSrc, newImgPath);
};

function _changeElementSource(elementId, defaultSrc, newImgPath) {
  var url = document.getElementById(elementId).src;
  var currentSrc = new URL(url).pathname;
  var newSrc = "";
  if (newImgPath == "") {
    newSrc = defaultSrc;
  } else {
    newSrc = newImgPath;
  }
  // Change SRC only if its new
  if (currentSrc != newSrc) {
    document.getElementById(elementId).src = newSrc;
  }
};

function disableStep(stepID) {
  var step = document.getElementById("step" + stepID);
  if(step.classList.contains("completed")) {
    step.classList.remove("completed");
  }
};

function enableStep(stepID) {
  var step = document.getElementById("step" + stepID);
  if (!(step.classList.contains("completed"))) {
    step.classList.add("completed");
  }
};

// RECEIVE COMMANDS FROM SERVER
const ws = new WebSocket("ws://localhost:8000/comms");

ws.onmessage = function(event) {
  var data = JSON.parse(event.data);
  console.log(data)

  var state = data.state;

  switch (state) {

    case "IDLE":
      // pass
      break;

    case "SCANNING":
      enableStep(1);
      break;

    case "VALIDATION":
      var qrCodeImage = data.qr_path;
      changeThumbnailDisplay(qrCodeImage);
      enableStep(2);
      break;

    case "ACCESS":
      var thumbnailFaceImage = data.thumbnail_path;
      changeThumbnailDisplay(thumbnailFaceImage);
      enableStep(2);
      enableStep(3);
      break;

    case "RESTART":
      resetSystem(); 
      break;
    
    default:
      break;
  }

};

</script>

<h2 class="ui center aligned icon header">
  We See You.
</h2>

<div class="ui big three steps">
  <div id="step1" class="step">
    <i class="eye icon"></i>
    <div class="content">
      <div class="title">Scanning</div>
    </div>
  </div>
  <div id="step2" class="step">
    <i class="hourglass end icon"></i>
    <div class="content">
      <div class="title">Validating</div>
    </div>
  </div>
  <div id="step3" class="step">
    <i class="user icon"></i>
    <div class="content">
      <div class="title">Access</div>
    </div>
  </div>
</div>

<div class="ui container center aligned page">
<img id="main_display" class="ui main image centered" src="{{ url_for('frame_streamer') }}" alt=/>
{# <img id="main_display" class="ui main image centered" src="/static/images/frontend/test.png">   #}
</div>

<h4 class="ui horizontal inverted divider"></h4>

<div class="ui container center aligned page">
<img id="thumbnail" class="ui main image centered" src="/static/images/frontend/thumbnail.png">
</div>


<h4 class="ui horizontal inverted divider"></h4>


{#
<div class="ui container center aligned page">
<button onclick="testAll()" class="ui red button">
  <h3>TEST ALL</h3>
</button>
</div>

<div class="ui container center aligned page">
<button onclick="resetSystem()" class="ui yellow button">
  <h3>ENTER</h3>
</button>
</div>
#}

{% endblock %}