{% extends "layout.html" %}

{% block content %}

<script>

$(document).ready(function() {
  console.log("Document ready");
});

function setMainDisplay(imPath="") {
  var defaultSrc = "/static/images/test.png";
    // var defaultSrc = "{{ url_for('frame_streamer') }}"
  if (imPath == "") {
    document.getElementById('main_display').src  = defaultSrc;
  } else {
    document.getElementById('main_display').src  = imPath;
  }
};

function setThumbnailDisplay(imPath="") {
  var defaultSrc = "/static/images/thumbnail.png";
  if (imPath == "") {
    document.getElementById('thumbnail').src  = defaultSrc;
  } else {
    document.getElementById('thumbnail').src  = imPath;
  }
};

function disableStep(stepID) {
  var step = document.getElementById("step" + stepID);
  if(step.classList.contains("completed")) {
    step.classList.remove("completed");
  }
};

function enableStep(stepID) {
  var step = document.getElementById("step" + stepID);
  if (!(step.classList.contains("completed"))) {
    step.classList.add("completed");
  }
};

function setTextBoxMessage(msg="") {
  var defaultMsg = "";
  if (msg == "") {
    document.getElementById('txtBox').src  = defaultSrc;
  } else {
    document.getElementById('txtBox').src  = msg;
  }
};

const ws = new WebSocket("ws://localhost:8000/comms");

ws.onmessage = function(event) {
  var data = JSON.parse(event.data);
  var state = data.state;

  switch (state) {

    case "INIT":
      break

    case "SCANNING":
      enableStep(1);
      break;

    case "VALIDATION":
      var access = state.access_granted;
      
      if (access) {
        var thumbnail_URL = state.thumbnail_path;
        setThumbnailDisplay(thumbnail_URL);
        enableStep(2);
      } else {

      }
      
      break;

    case "ACCESS":
      enableStep(3);
      break;
  
    case "RESTART":
      disableStep(1);
      disableStep(2);
      disableStep(3);
      setMainDisplay();
      setThumbnailDisplay();
      break;
    
    default:
      break;
  }

  //document.getElementById("txt-box").innerHTML = data.msg;   // Get the element with id="demo"
  // console.log(data.msg)
};

</script>

<h2 class="ui center aligned icon header">
    We See You.
</h2>

<div class="ui big three steps">
    <div id="step1" class="step">
      <i class="eye icon"></i>
      <div class="content">
        <div class="title">Scanning</div>
      </div>
    </div>
    <div id="step2" class="step">
      <i class="hourglass end icon"></i>
      <div class="content">
        <div class="title">Validating</div>
      </div>
    </div>
    <div id="step3" class="step">
      <i class="user icon"></i>
      <div class="content">
        <div class="title">Access</div>
      </div>
    </div>
</div>

<div class="ui container center aligned page">
  <img id="main_display" class="ui main image centered" src="{{ url_for('frame_streamer') }}" alt=/>
  {# <img id="main_display" class="ui main image centered" src="/static/images/test.png">   #}
</div>

<h4 class="ui horizontal inverted divider"></h4>

<div class="ui container center aligned page">
      <h2 id="txtBox" style="color:rgb(255, 255, 255)"class="header">Hellow World</h2>
      <img id="thumbnail" class="ui main image centered" src="/static/images/thumbnail.png">
</div>


<h4 class="ui horizontal inverted divider"></h4>


{% endblock %}